

@media only screen and (max-width: 500px){

.DropDown {
  grid-area: DP;
  margin-top: 17px;
  border-radius: 10px;
}

.menu {
  width:70px;
  height: 65px;
  background-color: orange;
}

.but{
  width: 80px;
  border-radius: 10px;
}
.DropdownMenu{
  height:20px;
  width: 20px;
}
}
