
.Profile {
    display: grid;
    grid-area: main;
    grid-template-columns: 10% 50%;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas:
    "pr pr"
    "mp2 mp"
    "tx tx";
    background-color: black;
}

.profile{
  grid-area: pr;
}
.mainphoto2{
  grid-area: mp2;
  width: 120px;
  height:140px;
  border-radius: 5%;
}

.info {
  text-area: tx;
  text-align: left;
  color: white;
  margin: 10px;
}
.mainphoto{
  width:750px;
  height: 200px;
  text-area: mp;
}






@media only screen and (max-width: 500px){
.Profile {
    display: grid;
    grid-area: main;
    grid-template-columns: 113px 190px;
    grid-template-rows: 140px 147px;
    grid-template-areas:
    "pr pr"
    "mp mp2"
    "tx tx";
    background-color: black;
}

.profile{
  grid-area: pr;
}
.mainphoto2{
  grid-area: mp;
  width: 120px;
  height:140px;
  border-radius: 5%;
}
.mainphoto{
  width:100%;
}
.info {
  text-align: left;
  color: white;
  margin: 10px;
}
}
