.MyPosts {
    display: grid;
    grid-template-rows: 23% 10%;
    grid-template-columns: 80px auto;
    grid-template-areas:
    "ta ta"
    "ab rm"
    "pt pt";
}
.textarea {
    grid-area: ta;
    width:400px;
    height: 30px;
}
.AddBut{
    grid-area: ab;
    width: 80px;
}
.RemoveBut{
    grid-area: rm;
    width: 80px;
}
.posts{
    grid-area: pt;
    color:white;
}







@media only screen and (max-width: 500px){
.MyPosts {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-areas:
    "ta ta"
    "ab rm"
    "pt pt";
}
.textarea {
    grid-area: ta;
    width: 100%;
    height: 30px;
  }
.AddBut{
    grid-area: ab;
    width: 80px;
    margin-left: 220px;
}
.RemoveBut{
    margin-left: 220px;
    grid-area: rm;
    width: 80px;
}
.posts{
    grid-area: pt;
    color:white;
}
}
