.MyPosts {
margin: 0 auto;
display: grid;

grid-template-areas:
"textarea textarea"
"AddBut RemoveBut"
"posts posts";

grid-template-rows: 260px 1fr;
grid-template-columns: 5fr 10fr;
grid-gap: 20px;
}

.textarea {
    grid-area: textarea;
    width:290px;
    height: 50px;
}
.AddBut{
    grid-area: AddBut;
}
.RemoveBut{
    grid-area: RemoveBut;
}
.posts{
  color:white;
  grid-area:posts;
}
