.headerQ{
  grid-area: header;
  background-color: black;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  display: grid;
  grid-template-columns: 25% 40% 10% 25%;
  grid-template-areas:
  "emp LP DP emp1";
}
.logotopQ{
  grid-area: LP;
  color:white;
}
.empty{
  grid-area: emp;
}
.empty1{
  grid-area: emp1;
}








@media only screen and (max-width: 500px){
  .headerQ{
    grid-area: header;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    display: grid;
    grid-template-columns:0 75% 25% 0;
    grid-template-areas:
    "emp LP DP emp1";
  }
  .logotopQ{
    grid-area: LP;
    color:white;
  }
  #DRopDown{
   grid-area: DP;
  }
  #wwsisocial{
    grid-area: WS;
  }
  .empty{
    grid-area: emp;
  }
  .empty1{
    grid-area: emp1;
  }
}
