.headerQ{
  grid-area: header;
  background-color: black;
  width: 97.5%;
  margin: 0 auto;
  height: 60px;
  display: grid;
  grid-template-columns: 0 70% 27.5% 0;
  grid-template-areas:
  "emp LP DP emp1";
  z-index: 1;
}
.logotopQ{
  grid-area: LP;
  color:white;
}
.empty{
  grid-area: emp;
}
.empty1{
  grid-area: emp1;
}
.logo{
  height:50px;
}








@media only screen and (max-width: 500px){
  .headerQ{
    grid-area: header;
    background-color: black;
    width: 100%;
    margin-left: 0;
    height: 60px;
    display: grid;
    grid-template-columns:0 70% 30% 0;
    grid-template-areas:
    "mp LP DP mp1";
    z-index: 1;
  }
  .logotopQ{
    grid-area: LP;
    color:white;
  }
  #DRopDown{
   grid-area: DP;
  }
  #wwsisocial{
    grid-area: WS;
  }
  .empty{
    grid-area: emp;
  }
  .empty1{
    grid-area: emp1;
  }
}
