.Navbar{
  grid-area: lmenu;
  background-color: black;
  height: 100%;
  padding-left: 77%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 5% 5% 5% 5% 0;
  grid-template-areas:
  "nb1"
  "nb2"
  "nb3"
  "nb4"
  "nb5";
}
a.activelink {
  color: orange;
}

.NavbarProfile {
  grid-area: nb1;
  margin-top: 10%;
  width: 20px;
  height: 20px;
}
.NavbarMessages{
  grid-area: nb2;
  margin-top: 10%;
  width: 20px;
  height: 20px;
}
.NavbarNews{
  grid-area: nb3;
  margin-top: 10%;
  width: 20px;
  height: 20px;
}
.NavbarGroup{
  grid-area: nb4;
  margin-top: 10%;
  width: 20px;
  height: 20px;
}
.NavbarSettings{
  grid-area: nb5;
  margin-top: 10%;
  width: 20px;
  height: 20px;
}

.widocznosc {
  z-index: 1;
}





@media only screen and (max-width: 500px){
  .Navbar{
    grid-area: lmenu;
    background-color: black;
    margin-left: 0 auto;
    width: 100%;
    height: 55px;
    padding-left: 0;
    display: grid;
    grid-template-columns: 28% 17% 17% 17% 17%;
    grid-template-rows: 100%;
    grid-template-areas:
    "nb1"
    "nb2"
    "nb3"
    "nb4"
    "nb5";
    z-index: 1;
  }
  a {
    color: white;
  }
  a.activelink {
    color: black;
  }
  .NavbarProfile {
    margin-left: 50px;
    margin-top: -12px;
    width: 40px;
    height: 40px;
  }
  .NavbarMessages{
    margin-top: -12px;
    width: 40px;
    height: 40px;
  }
  .NavbarNews{
    margin-top: -12px;
    width: 40px;
    height: 40px;
  }
  .NavbarGroup{
    margin-top: -12px;
    width: 40px;
    height: 40px;
  }
  .NavbarSettings{
    margin-top: -12px;
    width: 40px;
    height: 40px;
  }
.textes {
  display: none;
}
}
