.headerQ {
  width: 100%;
  background-color: black;
}
.app-wrapper{
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 792px 100px;
  grid-template-columns: 0 70% 30% 0;
  grid-template-areas:
  "emp header header emp1"
  "emp main main emp1"
  "emp lmenu lmenu emp1";
  grid-gap: 10px;
}
.app-wrapper-content {
    background-color: black;
    color: white;
    height: 100%;
    min-height: 450px;
}

.firstmenu {
    margin-top: 20px;
}

.Profile {
    grid-area: main;
    background-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mainphoto1 {
    border-top-left-radius: 10px;
}


#InputAddPosts {
    text-align: left;
    margin-left: 5px;
}

#lastname {
    width: 220px;
    height: 20px;
    border-radius: 10px;
}

.buttonaddpost {
    margin-left: 15px;
    width: 80px;
    height: 50px;
}

a {
    text-decoration: none;
}

.topmenuQ {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.logotopQ {
    width: 150px;
}







@media only screen and (max-width: 500px){
.app-wrapper {
    margin: 0 auto;
    display: grid;

    grid-template-areas:
    "header header"
    "main main"
    "lmenu lmenu";

    grid-template-rows: 60px 540px 20px;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.app-wrapper-content {
    background-color: black;
    color: white;
    height: 100%;
    min-height: 450px;
    width: 100%;
}

.firstmenu {
    margin-top: 20px;
}

.Profile {
    grid-area: main;
    background-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mainphoto1 {
    border-top-left-radius: 10px;
}


#InputAddPosts {
    text-align: left;
    margin-left: 5px;
}

#lastname {
    width: 220px;
    height: 20px;
    border-radius: 10px;
}

.buttonaddpost {
    margin-left: 15px;
    width: 80px;
    height: 50px;
}

a {
    text-decoration: none;
}



.topmenuQ {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.logotopQ {
    width: 150px;
}

}
