.content {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "di mi";
  background-color: black;
  color:white;
  text-align: left;
  min-height: 430px;
}


.dialogsItem{
grid-area: di;
}
.MessageItem{
  grid-area: mi;
}

.messages{
  padding: 10px;
}
.dialog{
  padding: 10px;
}







@media only screen and (max-width: 500px){
.content {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 70%;
  grid-template-areas:
  "di mi";
  background-color: black;
  color:white;
  text-align: left;
  height: 475px;
}


.dialogItem{
grid-area: di;
}
.MessageItem{
  grid-area: mi;
}

.messages{
  padding: 10px;
}
.dialog{
  padding: 10px;
}
}
